
<div class="container">
	<%= render "layouts/error_messages", model: @book %>
	<div class="row">
		<%= render "layouts/sidebar", {user: @user, book:@book} %>
		<div class="col-xs-9">
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to user_path(user) do %>
						<%= attachment_image_tag user, :profile_image, size:"50x50", format: "jpeg", class: "", fallback: "no_image.jpeg" %>
						<% end %>
					</td>
					<td><%= user.name  %></td>
					<td>フォロワー数:<%= user.followed.count %></td>
					<td class="btn-group-xs">
						<% if current_user != user %>
							<% if current_user.following?(user) %>
								<%= link_to "フォローを外す", unfollow_path(user), method: :post, class:"btn btn-primary" %>
							<% else %>
								<%= link_to "フォローする", follow_path(user), method: :post, class:"btn btn-success" %>
							<% end %>
						<% end %>
					</td>
					<td><%= link_to "Show", user_path(user.id) %></tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
