
<div class="container">
	<%= render "layouts/error_messages", model: @book %>
	<div class="row">
		<%= render "layouts/sidebar", {user: @user, book:@book} %>
		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<% @books.each do |book| %>
				<tr id="book_<%= book.id %>">
					<%= render 'books/books', { book: book } %>
				</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if current_user == @user %>
			<h2>Your MAP</h2>
			
				<div id="map">


				<script>
					function initMap(){
						let pos = new google.maps.LatLng(
						   '<%= @user.latitude %>',
						   '<%= @user.longitude %>'
						  );
						let map = new google.maps.Map(document.getElementById('map'), {
						zoom: 12,
						center: pos
						});

						marker = new google.maps.Marker({
	     					position: pos,
	   						map: map
	   					});
					}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
				</div>
			<% end %>
		</div>
	</div>
</div>
