
<div class="container">
	<%= render "layouts/error_messages", model: @book %>
	<div class="row">
		<%= render "layouts/sidebar", {user: @user, book:@book} %>
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr>
					<td><%= attachment_image_tag @post_user, :profile_image, size:"50x50", format: "jpeg", class: "", fallback: "no_image.jpeg" %>
						<p><%= link_to @post_user.name, user_path(@post_user.id) %></p>
					</td> <!-- image -->
					<td><%= link_to @post.title, "" %></td>
					<td><%= @post.body %></td>
					<% if @post_user.id == current_user.id %>
					<td><%= link_to "Edit", edit_book_path(@post.id), class:"btn btn-success btn-xs" %></td>
					<td><%= link_to "Destroy", book_path(@post.id), method: :delete, data: { confirm: '削除しますか?' }, class:"btn btn-danger btn-xs" %></td>
					<% end %>
					<td>
						<% if @post.favorited_by(current_user) %>
							<%= link_to book_favorites_path(@post.id), method: :delete do %>
								<i class="fas fa-heart"></i>
							<% end %>
							<%= @post.favorites.count %>
						<% else %>
							<%= link_to book_favorites_path(@post.id), method: :post do %>
								<i class="far fa-heart"></i>
							<% end %>
							<%= @post.favorites.count %>
						<% end %>
					</td>
					<td>
						<p>コメント数:<%= @post.book_comments.count %></p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-9">
			<div class="comments">
				<% @comments.each do |comment| %>
				<div class="comment btn-group-xs">
					<%= attachment_image_tag comment.user, :profile_image, size:"60x60", format:"jpeg", fallback: "no_image.jpeg" %>
					<%= comment.comment %>
					<% if current_user == comment.user %>
						<%= link_to "Destroy", book_book_comment_path(comment.book_id, comment.id), method: :delete, class:"btn btn-danger" %>
					<% end %>
				</div>
				<% end %>
			</div>
			<div class="comment-form">
				<%= form_with model:[@post, @comment] do |f| %>

				<%= f.text_area :comment, class:"form-control input-lg" %>

				<%= f.submit "送信" , class:"btn" %>

				<% end %>
			</div>
		</div>
	</div>
</div>