
<div class="container">
	<%= render "layouts/error_messages", model: @book %>
	<div class="row">
		<%= render "layouts/sidebar", {user: @user, book:@book} %>
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr id="book_show">
					<%= render 'book_show', { post: @post } %>
				</tr>
			</table>
		</div>
		<div class="col-md-9">
			<div id="comments">
				<%= render 'book_comments', { comments: @comments } %>
			</div>
			<div class="comment-form">
				<%= form_with model:[@post, @comment] do |f| %>

				<%= f.text_area :comment, class:"form-control input-lg" %>

				<%= f.submit "送信" , class:"btn" %>

				<% end %>
			</div>
		</div>
	</div>
</div>